.body{
    background-color: black;
}

.homeImgs{
    
    height: 620px;
    width: auto;
    border: none;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 450px 450px 450px;
    opacity:0.20;
    transition: opacity 0.5s ease-in-out;
}

.homeImgs img {
    width: 450px;; 
    height: 620px; 
    margin-right: 0%;
}

.homeImgs img.active {
    opacity: 1;

}
.galle1,.galle2,.galle3,.colombo1,.colombo2,.colombo3,.kandy1,.kandy2,.kandy3{
    margin: 0;
    padding: 0;
    height: 610px;
    width: 450px;

}

.slideshow {
    overflow: hidden;
}

.totursimH1{
    font-size: 96px;
    color: white;
    position: relative;
    margin-top: -350px;
    margin-left: 350px;
    font-family: Monospace;
}

.totursimH2{
    color: white;
    position: relative;
    margin-top: -80px;
    margin-left: 930px;
    font-family: Monospace;
}

.fblogoI{
    position: relative;
    width:60px;
    height: 60px;
    margin-top: 125px;
    margin-left: 92%;
    opacity:0.7;
}

.ytlogoI{
    position: relative;
    width:90px;
    height: 90px;
    margin-top: -77px;
    margin-left: 84%;
    opacity:0.7;    
}

.logoI{
    position: relative;
    margin-left: 100px;
    margin-top: 130px;
    width: 500px;
    height: 500px;
}

.Ab_Totursim{
    width: 450px;
    position: relative;
    margin-top: -470px;
    margin-left: 680px;
}

.totursimDes1{
    color: azure;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.totursimDes2{
    font-style: italic;
    font-style: oblique;
    color: blanchedalmond;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
}

.Cir_characters{
    position: relative;
    margin-top: 150px;
    height: 400px;
    width: 100%;
    background-color:rgb(1, 12, 28) ;
}

.characters{
    font-size: px;
    font-family: 'Courier New', monospace;
    color: blue;
}

.kollo{
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 340px 340px 340px 90px;
    grid-template-rows: 200px;
}

.kollo2{
    margin-top: 50px;
    margin-left: 180px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 300px 150px 350px;
    grid-template-rows: 200px;
}

.dulan{
    border-radius: 200px;
    width: 200px;
    height: 200px;
}

.ashan,.damith,.salinda,.thilanka,.ruwantha,.sachintha{
    border-radius: 200px;
    width: 190px;
    height: 200px;
}

.names{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 360px 330px 350px 160px;
   
}

.backvideo{
    margin-top: 100px;
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.content {
    position: absolute;
    margin-top: -760px;
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    height: 800px;
    width: 100%;
    padding: 0px;
  }